[paths]
source =
    dhos_users_api/*

[report]

omit =
  **/__main__.py
  dhos_users_api/app.py
  dhos_users_api/config.py
  dhos_users_api/autoapp.py
  dhos_users_api/blueprint_development/*.py

fail_under = 95

show_missing = true
skip_covered = true
